.areas__container {
  background: white;
  display: grid;
  place-items: center;
}

.areas {
  padding: 2rem 1rem;
  width: 100%;
  min-height: calc(100vh - var(--nav-height));
  max-width: var(--max-content-width);
  
  display: grid;
  gap: 1rem;
}

.area__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  height: fit-content;

  p {
    display: flex;
    align-items: center;
  }

  p span {
    color: var(--color-brown);
    background-color: var(--color-brown-10);
    padding: .25rem 1rem;
    font-size: 14px;
    font-weight: 600;
    border-radius: 14px;
  }
}

.area {
  box-shadow: 0 0 0 1px var(--color-brown-70);
  background-color: var(--color-milk);
  border-radius: .25rem;
  padding: 1rem 1.25rem;

  display: flex;
  justify-content: space-between;

  button {
    --size: 32px;
    top: var(--padding);
    right: var(--padding);
    height: var(--size);
    width: calc(var(--size) * 1.25);
    
    color: var(--color-milk);
    background-color: var(--color-milk-brown);
    border-radius: calc(var(--size) * .5);
    font-size: 14px;

    display: grid;
    place-content: center;

    transition:
      background-color 100ms ease,
      opacity 150ms ease
    ;
  }

  button:hover {
    background-color: var(--color-brown);
  }
}

.area__content {
  display: flex;
  align-items: center;
  gap: 1rem;

  img {
    /* box-shadow: 0 0 0 2px var(--color-brown-30); */
    filter: grayscale(.2);
  }

  .area__content-image {
    position: relative;
  }

  .area__content-image::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--color-brown);
    opacity: 0;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1;
    color: var(--color-brown);
  }
}

@media screen and (min-width: 768px) {
  .areas {
    padding: 2rem 1.5rem;
  }
}