.home__container {
  background: white;
  display: grid;
  place-items: center;
}

.home {
  margin-block: 3rem;
  padding-inline: 1rem;
  width: 100%;
  max-width: var(--max-content-width);

  display: grid;
  gap: 2rem;
}

.home__row {
  --size: 192px;

  border-radius: .25rem;
  box-shadow: 0 0 0 .5px var(--color-brown);
  background-color: var(--color-milk);
  overflow: hidden;
}

.home__row > header {
  background: var(--color-brown);
  padding: .5rem 1rem;
  
  h2 {
    color: var(--color-milk);
    font-size: 1.1rem;
    font-weight: 600;
  }
}

.home__row ul {
  padding: 0;
  display: flex;
  overflow-x: scroll;

  li::marker {
    font-size: 0;
  }
}

.home__row-loader {
  display: grid;
  place-items: center;
  width: 100%;
  height: var(--size);

  svg {
    height: var(--size);
  }
}

.meal__card {
  --padding: .75rem;
  height: var(--size);
  width: var(--size);
  position: relative;
  isolation: isolate;
  overflow: hidden;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1.05);
    width: 100%;
    height: 100%;
    z-index: -10;

    transition: transform 350ms ease;
  }

  header {
    font-size: 14px;
    height: 100%;
    padding: var(--padding);
    display: flex;
    align-items: flex-end;
    color: var(--color-brown-30);
    background-color: transparent;
    position: relative;
    isolation: isolate;

    
    &::after {
      z-index: -10;
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(
        hsla(38, 81%, 15%, 0.6),
        60%,
        hsla(38, 81%, 10%, 0.9)
      );
      opacity: 0;
      transition: opacity 350ms ease;
    }

    h3 {
      opacity: 0;
      transform: translateY(var(--padding));

      transition:
        opacity 350ms ease,
        transform 350ms ease
      ;
    }
  }

  button {
    --size: 36px;
    position: absolute;
    top: var(--padding);
    right: var(--padding);
    height: var(--size);
    width: calc(var(--size) * 1.25);
    
    color: var(--color-brown);
    background-color: var(--color-brown-10);
    border-radius: calc(var(--size) * .5);

    display: grid;
    place-content: center;

    opacity: 0;

    transition:
      background-color 100ms ease,
      opacity 150ms ease
    ;
  }

  button:hover {
    background-color: white;
  }
}

.meal__card:hover, .meal__card:focus-within {
  header {
    &::after {
      opacity: 1;
    }

    h3 {
      opacity: 1;
      transform: translateY(0);
    }
  }

  button {
    opacity: 1;
  }

  img {
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
}

@media screen and (min-width: 768px) {
  .home {
    padding-inline: 1.5rem;
  }

  .home__row {
    --size: 256px;
  }

  .home__row > header {
    padding: .75rem 1.5rem;
    
    h2 {
      font-size: 1.25rem;
    }
  }

  .meal__card {
    --padding: 1rem;
    header {
      font-size: 16px;
    }
  }
}