.homeRow {
  margin-bottom: 1em;
  border-radius: .5em;
  overflow: hidden;
  box-shadow: 0 0 1em #895c0f;
}

.homeRow > h2 {
  background: #fff;
  padding: .5em 1em;
  color: #895c0f;
}

.homeRow__items {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 15em;
  background: rgba(255, 255, 255, 0.5);
}

.homeRow__items > * {
  display: flex;
  align-items: flex-end;
  padding: 1em;
  cursor: pointer;
  transition: 
    aspect-ratio .5s ease,
    box-shadow .25s ease-out
  ;
}

.homeRow__items > * > .mealCard__content {
  display: flex;
  gap: 1.5em;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  opacity: 0;
  transform: translateY(2.5em);
  transition: 
    .0s ease-in
  ;
}

.homeRow__items > *:hover > .mealCard__content {
  transform: translateY(0);
  opacity: 1;
  transition:
    .5s ease-out
  ;
}

.homeRow__items > * > .mealCard__content > .mealCard__arrow {
  font-size: 2em;
  padding: .25em;
  background-color: transparent;
  border-radius: .1em;
  transform: translateX(-1em);
  opacity: 0;
  transition: .25s ease-out;
}

.homeRow__items > *:hover > .mealCard__content > .mealCard__arrow {
  transition: 
    opacity .75s 0s ease,
    background-color 1s .0s ease,
    transform .5s .25s ease,
    box-shadow .25s ease,
  ;
  background: #bf841d;
  opacity: 1;
  transform: translateX(0);
}

.homeRow__items > *:hover {
  aspect-ratio: 2;
  -moz-box-shadow: inset 0 15em rgba(0, 0, 0, .5);
  -webkit-box-shadow: inset 0 15em rgba(0, 0, 0, .5);
  box-shadow: inset 0 15em rgba(0, 0, 0, .5);
}

.homeRow__items > *:hover > .mealCard__content > .mealCard__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.homeRow__items > *:hover > .mealCard__content > .mealCard__arrow:hover {
  transform: scale(1.1);
  -moz-box-shadow: 0 0 .25em #00000050;
  -webkit-box-shadow: 0 0 .25em #00000050;
  box-shadow: 0 0 .25em #00000050;
  transition: .25s ease-in;
}

@media screen and (max-width: 700px) {
  .homeRow {
    font-size: 0.6em;
    border-radius: 0;
    margin-bottom: 0;
  }

  .homeRow > h2 {
    font-size: 1.75em;
  }

  .homeRow__items > * > .mealCard__content > h3 {
    font-size: 1.75em;
  }
}