.ingredients {
  max-width: var(--max-content-width);
  min-height: calc(100vh - var(--nav-height));
  display: flex;
  margin-inline: auto;
}

.ingredients__col1 {
  background: white;
  padding: 2rem 1rem;

  header input {
    width: 100%;
    background-color: var(--color-milk);
    color: var(--color-brown);
    box-shadow: 0 0 0 1px var(--color-brown-10);
    border-radius: .25rem;
    font-size: 14px;
    padding: .5rem 1rem;
    margin-bottom: 1.5rem;

    border: none;
    outline: none;
    transition: box-shadow 250ms ease;
  }

  header input:hover {
    box-shadow: 0 0 0 1px var(--color-brown-30);
  }
  header input:focus {
    box-shadow: 0 0 0 1px var(--color-brown), 0 0 0 5px var(--color-brown-10);
  }
  header input::placeholder {
    color: var(--color-brown);
  }
}

.ingredients__container {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;

  p {
    margin-inline: auto;
    color: var(--color-brown);
  }

  .ingredient {
    background-color: var(--color-brown);
    color: var(--color-milk);
    border-radius: 16px;
    padding: .25rem 1rem;
    font-weight: 600;
    font-size: 14px;
    transition: transform 100ms ease;
  }

  .ingredient:hover {
    transform: scale(1.05);
  }
}

.ingredients__col2 {
  border-left: 1px solid var(--color-brown-30);
  background-color: var(--color-milk);

  > p {
    padding: 2rem 1rem;
    color: var(--color-brown);
    text-align: center;
    width: 100%;
  }
}

.ingredients__col1, .ingredients__col2 {
  flex: 1;
}