.mealList {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style-type: none;
  padding: 1em;
}

.mealList__back {
  font-weight: 300;
  text-decoration: underline;
  font-size: 1.25em;
  color: #825914;
  padding: .5em 1em;
}

.mealList__item {
  display: flex;
  align-items: center;
  gap: .5em;
  justify-content: space-between;
  height: 7.5em;
  background: #bf841d69;
  border-radius: .5em;
  overflow: hidden;
  box-shadow: inset 0 0 0 0.05em #bf841d;
}

.mealList__item h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mealList__item > img {
  height: 15em;
  align-self: baseline;
}

.mealList__itemForward {
  margin: 1em;
  font-size: 2em;
  transition: translate .25s ease;
  cursor: pointer;
}

.mealList__itemForward:hover {
  translate: .25em;
}

.mealList__errorIcon {
  font-size: 10em;
  color: #c0841d;
  margin-inline: auto;
}

.mealList__errorMessage {
  font-weight: 400;
  margin-inline: auto;
}

@media screen and (max-width: 1100px) {
  .mealList__item > img {
    height: 7.5em;
  }
}

@media screen and (max-width: 900px) {
  .mealList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13.5em, 1fr));
  }

  .mealList__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    padding: 0;
    height: fit-content;
    box-shadow: 0 0 .35em #774e0735;
  }

  .mealList__item > img {
    height: 100%;
    grid-column: span 4;
  }
  
  .mealList__item > h3 {
    grid-column: span 3;
    padding: .5em 0 .5em .5em;
  }

  .mealList__itemForward {
    font-size: 1.25em;
    justify-self: center;
    margin: 0;
  }
}