.meal {
  padding-bottom: 3rem;
}

.meal__header-container {
  display: grid;
  place-items: center;
  background-color: var(--color-milk);
  border-bottom: 1px solid var(--color-brown-70);

  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.meal__header {
  padding: 1rem;
  width: 100%;
  max-width: var(--max-content-width);

  h2 {
    font-size: 1.4rem;
    font-weight: 900;
    color: var(--color-brown);
  }

  .meal__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
    p {
      display: flex;
      align-items: center;
    }
  
    p span {
      color: var(--color-milk);
      background-color: var(--color-milk-brown);
      padding: .25rem 1rem;
      font-size: 14px;
      font-weight: 600;
      border-radius: 14px;
    }
  }

  .meal__header-image {
    z-index: -10;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateY(-50%);

    img {
      width: 100%;
    }
  }

  .meal__header-image::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--color-brown-10);
    opacity: .9;
  }
}

.meal__content {
  display: grid;
  place-items: center;
  background-color: white;

  section {
    width: 100%;
    max-width: var(--max-content-width);
    padding: 1rem;
    color: var(--color-brown);

    h3 {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
  }
}

.meal__measurements {
  table {
    --color-header: var(--color-brown-10);
    --color-odd-row: var(--color-brown-10);
    --color-even-row: var(--color-milk);
    --color-border: var(--color-brown-50);

    border-collapse: collapse;
    width: 100%;
    border-radius: .25rem;
    overflow: hidden;
    box-shadow: 0 0 0 1px var(--color-border);

    tr {
      transition: background-color 100ms ease;
    }

    tr:nth-child(1) {
      background-color: var(--color-header);
      color: var(--color-brown);
      border-bottom: 1px solid var(--color-border);
    }

    tr:nth-child(even) {
      background-color: var(--color-even-row);
    }

    tr:hover {
      background-color: var(--color-header);
    }

    td {
      padding: .25rem 1rem;  
    }

    th {
      padding: .5rem 1rem;  
    }

    td, th {
      width: 50%;

      &:last-child {
        border-left: 1px solid var(--color-border);
      }
    }
  }
}

.meal__instructions {
  ul {
    padding: 1rem;
    background-color: var(--color-milk);
    border-radius: .25rem;
    box-shadow: 0 0 0 1px var(--color-brown-50);
    display: grid;
    gap: .25rem;

    li::marker {
      font-size: 0;
    }
  }
}

.meal__help {
  padding-bottom: 5rem;

  ul {
    padding: 0;
    display: flex;
    gap: 1rem;

    li::marker {
      font-size: 0;
    }

    li a {
      display: flex;
      gap: 1ch;
      align-items: center;
      background-color: var(--color-brown-10);
      padding: .25rem 1rem;
    }

    li a svg {
      font-size: 1rem;
    }
  }
  a {
    color: var(--color-brown);
    
  }
}

@media screen and (min-width: 768px) {
  .meal__header {
    padding: 1rem 1.5rem;

    h2 {
      font-size: 1.75rem;
    }
  }

  .meal__content {
    section {
      padding: 1rem 1.5rem;
    }
  }
}