.meal__list {
  padding: 1.5rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;

  .back-button {
    color: var(--color-brown);
    text-decoration: underline;
    margin-bottom: .5rem;
  }

  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
  }

  ul li::marker {
    font-size: 0px;
  }
}

.meal__listInfo {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  p {
    display: flex;
    align-items: center;
  }

  p span {
    color: var(--color-brown);
    background-color: var(--color-brown-10);
    padding: .25rem 1rem;
    font-size: 14px;
    font-weight: 600;
    border-radius: 14px;
  }
}

.meal__item {
  display: flex;
  flex-direction: column;
  background-color: var(--color-brown-10);
  box-shadow: 0 0 0 1px var(--color-brown);
  border-radius: .25rem;
  overflow: hidden;
}

.meal__item-image {
  --size: 256px;
  height: var(--size);
  width: 100%;
  overflow: hidden;
  background-color: var(--color-brown-30);

  img {
    height: var(--size);
    width: 100%;
    object-fit: cover;
    object-position: center; 
  }
}

.meal__item-content {
  padding: .75rem 1rem;
  display: flex;
  flex-direction: column;
  gap: .25rem;

  h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-brown);
    font-size: 1.1rem;
  }

  button {
    --size: 32px;
    height: var(--size);
    width: calc(var(--size) * 1.5);
    
    color: var(--color-milk);
    background-color: var(--color-milk-brown);
    border-radius: calc(var(--size) * .5);

    display: grid;
    place-content: center;

    transition:
      background-color 100ms ease,
      opacity 150ms ease
    ;
  }

  button:hover {
    background-color: var(--color-brown);
  }
}

.meal__list-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 128px;

  svg {
    font-size: 8rem;
    color: var(--color-milk-brown);
  }

  p {
    color: var(--color-brown);
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .meal__list {
    ul {
      gap: 1.5rem;
    }
  }

  .meal__item {
    flex-direction: row;
  }

  .meal__item-image {
    --size: 150px;
    width: var(--size);
    height: auto;

    img {
      width: var(--size);
      height: 100%;
    }
  }

  .meal__item-content {
    padding: 1rem 1.25rem;
    flex: 1;
    justify-content: space-between;
     
    button {
      margin-left: auto;
    }
  }
}

@media screen and (min-width: 1000px) {
  .meal__item-image {
    --size: 180px;
  }
}