.nav__container {
  display: grid;
  place-items: center;
  z-index: 5;

  background-color: var(--color-milk);
  border-bottom: 1px var(--color-brown) solid;

  position: sticky;
  top: 0px;

  header {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: var(--max-content-width);
    padding: 1rem;
  }
}

.nav__logo {
  margin-right: auto;
  height: 48px;
  display: flex;
}

.nav__open, .nav__close {
  height: 48px;
  width: 48px;
  display: grid;
  place-content: center;

  font-size: 1.75rem;
  color: var(--color-brown);
}

.nav__menu {
  z-index: 10;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);

  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms var(--bezier-smooth);

  .nav__links {
    background-color: var(--color-milk);
    max-width: 240px;
    height: 100%;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transform: translateX(-100%);

    transition: transform 350ms var(--bezier-smooth);
  }

  .nav__links li {
    display: flex;
  }

  .nav__links li::marker {
    font-size: 0;
  }

  .nav__links li a {
    padding: 0.5rem 1rem;
    width: 100%;
    font-size: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-brown-50);
    transition: color 100ms ease, background-color 100ms ease;
  }

  .nav__links li a.active {
    color: var(--color-brown);
  }

  .nav__links li a:hover {
    color: var(--color-brown);
    background-color: var(--color-brown-10);
  }

  .nav__close {
    position: fixed;
    top: 1rem;
    right: 1rem;

    background-color: var(--color-brown-10);
    font-size: 1.25rem;
    border-radius: 24px;

    transform: translateX(calc(100% + 1rem));
    transition: transform 350ms var(--bezier-smooth);
  }
}

.nav__menu.active {
  opacity: 1;
  pointer-events: all;

  .nav__links {
    transform: translateX(0);
  }

  .nav__close {
    transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .nav__container {
    header {
      padding: 1rem 1.5rem;
    }
  }

  .nav__menu {
    z-index: inherit;
    position: static;
    background-color: transparent;
    opacity: 1;
    pointer-events: all;

    .nav__links {
      background-color: transparent;
      height: auto;
      flex-direction: row;
      justify-content: flex-start;
      transform: none;
      gap: 1.5rem;
    }

    .nav__links li a {
      font-size: 14px;
      background-color: transparent !important;
      padding: 0;
    }
  }
}