@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* Core variables */
:root {
  --color-milk-brown: #c28419;
  --color-brown: #8a5d0f;
  --color-brown-70: #AC8B52;
  --color-brown-50: #C3AA80;
  --color-brown-30: #DACAAE;
  --color-brown-10: #F3ECDF;
  --color-milk: #FDF9F2;

  --screen-sm: 480px;
  --screen-md: 788px;
  --screen-lg: 1280px;

  --max-content-width: var(--screen-lg);

  --bezier-smooth: cubic-bezier(.79,.14,.15,.86);

  --nav-height: 80px;
}

html {
  --scrollbar-bg: var(--color-brown-10);
  --scrollbar-border: transparent;
  --scrollbar-thumb-bg: var(--color-brown-30);
  --scrollbar-thumb-border: var(--color-brown-70);
  --scrollbar-thumb-hover-bg: var(--color-brown-50);
  --scrollbar-thumb-hover-border: var(--color-brown);

  --input-autofill-color: #bbb;
}

::-webkit-scrollbar {
  width: 18px;
  background-color: var(--scrollbar-bg);
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 1px var(--scrollbar-border);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: solid 4px transparent;
  box-shadow:
  inset 0 0 0 1px var(--scrollbar-thumb-border), 
  inset 0 0 0 8px var(--scrollbar-thumb-bg);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  box-shadow:
  inset 0 0 0 1px var(--scrollbar-thumb-hover-border),
  inset 0 0 0 8px var(--scrollbar-thumb-hover-bg);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection {
  background: hsl(212, 93%, 50%);
  color: white;
}


/* <h1> ::before Hello world ::after </h1> */
/* Remove default margin */
* {
  margin: 0;
  font-family: 'Lato', sans-serif;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

img {
  color: var(--color-brown-30);
  font-weight: 600;
  font-size: 1.25rem;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


.mobile-hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobile-hidden {
    display: inherit;
  }

  .desktop-hidden {
    display: none !important;
  }
}